<div class="topleft">
  <div id="first">
    <div id="boxSelectedProduct">
      <h2>Information om vald användare</h2>
      <div><span>id: </span>{{user.id}}</div>
      <div><span>användarnamn: </span>{{user.username}}</div>
      <div><span>förnamn: </span>{{user.name}}</div>
    </div>
    <br/>
    <h2>Redigera användare</h2>
    <div class="form-group">
      <label>Användarnamn</label>
      <br>
      <input type="text" class="form-control"
             required
             [(ngModel)]="user.username" name="username">
    </div>

    <div class="form-group">
      <label>Förnamn:</label>
      <input type="text" class="form-control"
             required
             [(ngModel)]="user.name" name="fname">
    </div>
    <div class="form-group">
      <label>Mailadress:</label>
      <input type="text" class="form-control"
             required
             [(ngModel)]="user.email" name="emailname">
    </div>


    <button (click)="getUser()">Get user</button>

    <button (click)="createUser()">Create user</button>

    <button (click)="updateUser()">Update user</button>
  </div>

  <div id="second">
    <div class="center">
      <li *ngFor="let user of users" (click)="onSelect(user)">>
        Id: {{user.id}}, användarnamn: {{user.username}}, Name: {{user.name}}, email: {{user.email}}
      </li>
    </div>
  </div>
  <div id="clear">

  </div>
</div>


