<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>SERVENTUS</span>
    <mat-tab-group>
      <mat-tab label="Produkter">
        <ng-template matTabContent>
          Content 1 - Loaded: {{getTimeLoaded(1) | date:'medium'}}
        </ng-template>
      </mat-tab>
      <mat-tab label="Användare">
        <ng-template matTabContent>
          Content 2 - Loaded: {{getTimeLoaded(2) | date:'medium'}}
        </ng-template>
      </mat-tab>
      <mat-tab label="Third">
        <ng-template matTabContent>
          Content 3 - Loaded: {{getTimeLoaded(3) | date:'medium'}}
        </ng-template>
      </mat-tab>
    </mat-tab-group>

    <span class="example-spacer"></span>
    <mat-icon class="example-icon">menu</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>


<div class="topleft">
  <div id="first">
    <div id="boxSelectedProduct">
      <h2>Information om vald användare</h2>
      <div><span>id: </span>{{user.id}}</div>
      <div><span>användarnamn: </span>{{user.username}}</div>
      <div><span>förnamn: </span>{{user.name}}</div>
    </div>
    <br/>
    <h2>Redigera användare</h2>
    <div class="form-group">
      <label>Användarnamn</label>
      <br>
      <input type="text" class="form-control"
             required
             [(ngModel)]="user.username" name="name">
    </div>

    <div class="form-group">
      <label>Förnamn:</label>
      <input type="text" class="dropdown-content"
             required
             [(ngModel)]="user.name" name="fnamn">
    </div>

    <div id="second">
      <div *ngIf="!loading">
        <li *ngFor="let user of users">
          Id: {{user.id}}, användarnamn: {{user.username}}, Name: {{user.name}}, email: {{user.email}}
          <br>
        </li>
      </div>
      </div>
</div>

  <div id="clear">



  </div>
</div>
