#header {
  width: 100%;
  background-color: red;
  height: 30px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#container {
  width: 300px;
  background-color: #ffcc33;
  margin: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}
#boxSelectedProduct{
  font-style: oblique;
  border-radius: 10px;
  background: #418eb2;
  width: auto;
  height: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  font-size: medium;
  padding: 30px;
}

.topbar {
  background-color: #1f9bde;
  width: 30%;
}
.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.example-card.ex  {
  max-width: 400px;

}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;

}

#first {
  font-size: 20px;
  color: #000000;
  width: 550px;
  float: left;
  height: 300px;
  padding: 50px;


}
#second {
  display: grid;
  grid-gap: 5px;


  margin: 30px;
  width: 1080px;
  float: left;
  height: 1000px;
  background-color: #69b1db;
  padding: 30px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
#clear {
  clear: both;
}


input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 18px;
}

