<h2>Product id: {{ product.id }} details</h2>
<div><span>id: </span>{{product.id}}</div>
<div><span>name: </span>{{product.name}}</div>
<div><span>articleNumber: </span>{{product.articleNumber}}</div>
<div><span>category: </span>{{product.category}}</div>
<div><span>price: </span>{{product.price}}</div>

<br/>

<div class="form-group">
  <label >Product name: </label>
  <input type="text" class="form-control"
         required
         [(ngModel)]="product.name" name="name">
</div>

<div class="form-group">
  <label >Article Number: </label>
  <input type="text" class="form-control"
         required
         [(ngModel)]="product.articleNumber" name="articleNumber">
</div>

<div class="form-group">
  <label >Category: </label>
  <input type="text" class="form-control"
         required
         [(ngModel)]="product.category" name="category">
</div>

<div class="form-group">
  <label >Price: </label>
  <input type="text" class="form-control"
         required
         [(ngModel)]="product.price" name="price">
</div>

<button (click) = "getProduct()">Submit</button>
