<div class="topleft">




  <div *ngIf="isLoading">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" >

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->

      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef> Price </th>
        <td mat-cell *matCellDef="let element"> {{element.price}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef> Symbol </th>
        <td mat-cell *matCellDef="let element"> {{element.category.categoryName}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>



  <div id="first">
    <div id="boxSelectedProduct">
      <h2>Information om vald produkt:</h2>
      <div><span>id: </span>{{product.id}}</div>
      <div><span>namn: </span>{{product.name}}</div>
      <div><span>artikelnummer: </span>{{product.articleNumber}}</div>
      <div><span>kategori: </span>{{product.category.categoryName}}</div>
      <div><span>pris: </span>{{product.price}}</div>
    </div>
    <br/>
    <h2>Redigera produkter</h2>
    <div class="form-group">
      <label>Produktnamn: </label>
      <br>
      <input type="text" class="form-control"
             required
             [(ngModel)]="product.name" name="name">
    </div>

    <div class="form-group">
      <label>Artikelnummer: </label>
      <input type="text" class="form-control"
             required
             [(ngModel)]="product.articleNumber" name="articleNumber">
      <br>
    </div>

    <div class="dropdown">
      <label>Kategori: </label>
      <input type="text" class="dropdown-content"
             required
             [(ngModel)]="product.category.categoryName" name="category">
    </div>

    <div class="form-group">
      <label>Pris: </label>
      <input type="text" class="form-control"
             required
             [(ngModel)]="product.price" name="price">
    </div>

    <button (click)="getProduct()">Get Product</button>

    <button (click)="createProduct()">Create Product</button>

    <button (click)="updateProduct()">Update Product</button>
  </div>

  <div id="second">
    <div class="item1">
    <div class="center">
      <li *ngFor="let product of products" (click)="onSelect(product)">>
        Id: {{product.id}}, Name: {{product.name}}, ArticleNumber: {{product.articleNumber}}, Category:
        {{product.category.categoryName}}
      </li>
    </div>
    </div>
  </div>

  <div id="clear">


  </div>

</div>
