#header {
  width: 100%;
  background-color: red;
  height: 30px;
}

#container {
  width: 300px;
  background-color: #ffcc33;
  margin: auto;
}
#first {
  width: 550px;
  float: left;
  height: 300px;
  background-color: blue;
}
#second {
  width: 550px;
  float: left;
  height: 300px;
  background-color: green;
}
#clear {
  clear: both;
}
