<h2>Product id: {{ category.categoryId }} details</h2>
<div><span>id: </span>{{category.categoryId}}</div>
<div><span>name: </span>{{category.categoryName}}</div>

<br/>

<div class="form-group">
  <label >Category name: </label>
  <input type="text" class="form-control"
         required
         [(ngModel)]="category.categoryName" name="categoryName">
</div>


<button (click) = "getCategory()">Get category</button>
<button (click)="getCategorys()">Get categories</button>
<button (click)="createCategory()">Create categoryS</button>

