<div class="topleft">
  <div id="first">
    <div id="boxSelectedProduct">
      <h2>Category id: {{ category.categoryId }} details</h2>
      <div><span>id: </span>{{category.categoryId}}</div>
      <div><span>name: </span>{{category.categoryName}}</div>
    </div>
    <br/>
    <h2>Edit Products</h2>
    <div class="form-group">
      <label>Category name: </label>
      <input type="text" class="form-control"
             required
             [(ngModel)]="category.categoryName" name="categoryName">
    </div>

    <button (click)="getCategory()">Get category</button>
    <button (click)="createCategory()">Create categoryS</button>
    <button (click)="updateCategory()">Update Category</button>

  </div>

  <div id="second">
    <div class="center">
      <li *ngFor="let category of categories" (click)="onSelect(category)">
        Id: {{category.categoryId}}, Name: {{category.categoryName}}
      </li>
    </div>
  </div>

</div>

<div id="clear">


</div>
