<!DOCTYPE html>
<html>
<body>
<ul class="center">
  <h1>Login sida</h1>
  <div style="color: blue">
    <label>Användarnamn:
      <br>
      <input [(ngModel)]="loginCred.usernameOrEmail">
      <br>
      <label>lösenord:
        <br>
        <input type="password" [(ngModel)]="loginCred.password">
      </label>
    </label>
  </div>
  <ul class="buttons">
    <button (click) = "login()">logga in</button>
    <h1>hello</h1>
    <nav>
      <a routerLink="/login">Login Page</a>
      
    </nav>

    <button (click) = "newUser()">skapa ny user woohoo</button>
  </ul>
</ul>
<ul class="Home">
  <a routerLink="/home">Home</a>
</ul>

</body>
</html>

<div *ngIf="loginYes">You are Winner!!</div>
<div *ngIf="loginNo">You are a LOSE!!</div>
