/* Login private CSS style */
.login {


}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: auto;
  width: 20%;

}
.buttons {
  display: block;
  margin-left: auto;

}
