<div class="topleft">

  <div *ngIf="isLoading" > loading .... </div>
  <div *ngIf="!isLoading" id="first" >
    <div id="boxSelectedProduct">
      <h2>Information om vald Order:</h2>
      <div><span>id: </span>id</div>
    </div>
    <br/>
    <h2>Redigera order</h2>
    <div class="form-group">
      <label>Order: </label>
      <br>
    </div>

    <div *ngIf="isLoading" > loading .... </div>
    <div *ngIf="!isLoading" id="second">
      <div class="item1">
        <div class="center">
          <li *ngFor="let order of orders.orderList" (click)="onSelect(order)">
            Id: {{order.id}}
            <div>
         <!-- <li ng-repeat="artist in artists">{{artist.name}}</li> -->
         <!--     <li *ngFor="let orderDetails of order.orderDetailsList">{{orderDetails.products.forEach()}}</li> -->
         <!--     <li *ngFor="let product of order.products"> ProductName: {{product.name}} ProductId: {{product.id}}</li> -->

            </div>
        </li>
      </div>
    </div>
  </div>

  <div id="clear">


  </div>

</div>
