<div class="topleft">
  <div id="first">
    <div id="boxSelectedProduct">
      <h2>Information om vald Order:</h2>
      <div><span>id: </span>id</div>
    </div>
    <br/>
    <h2>Redigera order</h2>
    <div class="form-group">
      <label>Order: </label>
      <br>
  </div>

  <div id="second">
    <div class="item1">
      <div class="center">
  <!--      <li *ngFor="let order of orders" (click)="onSelect(order)">>
          Id: {{product.id}}, Name: {{product.name}}, ArticleNumber: {{product.articleNumber}}, Category:
          {{product.category.categoryName}}
        </li>
  -->
      </div>
    </div>
  </div>

  <div id="clear">


  </div>

</div>
