<div class="topleft">

  <div *ngIf="isLoading"> loading ....</div>
  <div *ngIf="!isLoading" id="first">
    <div id="boxSelectedProduct">
      <h2>Information om vald Order:</h2>
      <div><span>id: {{order.id}}</span></div>
      <div><span>job: {{order.job}}</span></div>
      <div><span><!-- Products: {{order.orderDetails}} -->

        <ul>
          <li *ngFor="let detail of order.orderDetailsList">
            id: {{detail.product.id}},
            Name: {{detail.product.name}},
            Category: {{detail.product.category.categoryName}},
            Article-number: {{detail.product.articleNumber}}
          </li>
        </ul>

      </span></div>
    </div>
  </div>

  <div *ngIf="isLoading"> loading ....</div>
  <div *ngIf="!isLoading" id="second">
    <!-- <div class="item1"> -->
    <div class="center">
      <ul>
        <li *ngFor="let order_d of orders" (click)="onSelect(order_d)">
          Id: {{order_d.id}} Job: {{order_d.job}}
          <!-- <li ng-repeat="artist in artists">{{artist.name}}</li> -->

          <ul>
            <li *ngFor="let detail of order_d.orderDetailsList">
              id: {{detail.product.id}},
              Name: {{detail.product.name}},
              Category: {{detail.product.category.categoryName}},
              Article-number: {{detail.product.articleNumber}}
            </li>
          </ul>
          <!--     <li *ngFor="let product of order.products"> ProductName: {{product.name}} ProductId: {{product.id}}</li> -->
        </li>
      </ul>
    </div>

    <div id="clear">


    </div>
  </div>
</div>
