
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>SERVENTUS</span>
      <span class="example-spacer"></span>
      <mat-icon class="example-icon">menu</mat-icon>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="center">


  <label>Användarnamn / mail:</label>
  <br>
  <input type="text" class="form-control"
         required [(ngModel)]="credentials.usernameOrEmail" name="usernameOrEmail" #name="ngModel">

  <div class="form-control">
    <label>Lösenord:</label>
    <br>
    <input type="password" class="form-control"
           required
           [(ngModel)]="credentials.password" name="password">
  </div>
  <br>
  <button mat-button (click)="login()">Login</button>
  <div class="fail" *ngIf="loginNo">Fel användarnamn eller lösenord</div>
</div>
